main {
	margin-top: 43px;
	padding-top: 16px;
}
.background {
	background: url('../images/plans-background.jpg') center/cover;
	filter: grayscale(40%);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}
.packages {
	border: 4px solid #0e4f1f;
	border-left: none;
	margin: 16px 0;
	width: 80%;
	position: relative;
}
.packages:hover,
.packages:active {
	border-color: orangered !important;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.package-link {
	text-decoration: none;
	color: inherit;
	display: block; /*changes the anchor tag to spread an fill the entire section tag*/
	padding: 32px;
}
.package__title {
	color: black;
}
.package__badge {
	position: absolute;
	top: 0px;
	right: 0;
	margin: 20px;
	font-size: 12px;
	color: white;
	background: #ff5454;
	padding: 8px;
}
.package__caption {
	font-size: bold;
	color: #979797;
}
.package__description {
	padding: 16px;
	border: 1px solid #0e4f1f;
	background: white;
	color: #0e4f1f;
	font-size: 16px;
}
.clearfix {
	clear: both;
}
#free {
	background: rgba(234, 252, 237, 0.95);
	float: right;
	border-right: none;
	border-left: 4px solid #0e4f1f;
	text-align: right;
}
/* #free:active,
#free:hover {
	border-left-color: orangered;
} */
#plus {
	background: rgba(213, 255, 220, 0.9);
}
#premium {
	background: rgba(14, 79, 31, 0.95);
}
#premium .package__title {
	color: white;
}
#premium .package__caption {
	color: #bbb;
}
